body { 
    padding: 0;
	margin: 0;
	font: 20px/135% Tahoma, Arial, Helvetica, sans-serif;
	position: relative;
}
.tweet {
	background-color: #CAD6ED;
	padding: 15px;
	width: 500px;
	height: 128px;
	text-shadow: 1px 1px 1px #FFFFFF;
	color: rgba(0, 0, 0, 0.80);
	position: absolute;
	top: 200px;
	left: 200px;	
}
.tweet img {
	float: left;
	margin: 0 15px 0 0;
}
.card {
	background-color: transparent;
}
.card .side {
	padding: 15px;
	width: 500px;
	height: 128px;
}
.card .front {
	background-color: #CAD6ED;
}
.card .back {
	background-color: #EB9B9B;
}
#controls {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 15px;
	border: 1px solid #ccc;
	background: rgba(255,255,255,0.75);
	font: 16px/135% Monaco, "Bitstream Vera Sans Mono", Consolas, monospace;
}
.css-body {
	margin-left: 3em;
}
